.App {
  text-align: center;
  background-image: url('../src/img/images.png');
  background-size: cover; 
  background-position: center; 

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.inputs-container {
  margin: 20px 0;
}

input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  font-size: 14px;
  color: white;
  background-color: #800080;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6a006a;
}
